@model IEnumerable<DealProject.Models.UsersVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("DeleteSelected", "Users", FormMethod.Post))
{


<p>
    @Html.ActionLink("Create New", "Create")
    <input type="submit" data-toggle="modal" data-target="#myModal" value="Delete Selected Students" onclick="return confirm('Are you sure you wish to delete selected Students?');" class="btn btn-danger" />

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Server_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime_UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update_DateTime_UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Login_DateTime_UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Server_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime_UTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_DateTime_UTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Login_DateTime_UTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                <img width="100" height="100" src="@Url.Content("~/Content/Images/" + item.Image + "")" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Of_Birth)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })

                @Html.ActionLink("Delete", "Delete", new { id = item.ID },
               new { @class = "btn btn-danger btn-lg btn-block", onclick = "return confirm('Are you sure you wish to delete this Users?');" })


                <input type="checkbox" name="ids" value="@item.ID" />
            </td>
        </tr>
    }

</table>
    @ViewBag.error
}